html, body {
  height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.page-login{
  height: 85%;
}

.form-login {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 10px;
}
.margin-left{
  margin-left: 10px;
}