html, body {
  height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.page-login{
  height: 85vh;
}

.form-login {
  padding: 15px;
  border: 1px solid silver;
  border-radius: 10px;
}
.margin-left{
  margin-left: 10px;
}

.adres-label{
  width: 100%;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-bottom: -3px;
  border-radius: 5px 5px 0 0;
  padding: 5px 5px 8px 5px;
  background-color: #e9ecef;
}
.width_100{
  width: 100%;
}
.close {
  font-size: 2rem;
}